*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@media screen and (max-width: 700px) {
  html {
    font-size: 50%; } }

body {
  box-sizing: border-box;
  display: inline-flex;
  min-width: 0;
  min-height: 0; }

@media screen and (max-width: 700px) {
  body {
    flex-direction: row;
    flex-wrap: wrap; } }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem; }
  h2:hover {
    color: grey;
    transition: all .4s; }

@media screen and (max-width: 700px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3rem; } }

h4 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  color: goldenrod; }

a {
  text-decoration: none;
  color: black;
  list-style: none; }

.sidebar__nav-buttons {
  font-size: 3rem;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 2rem;
  margin-left: 2rem;
  outline: none; }
  .sidebar__nav-buttons--item:hover {
    color: green;
    transition: all .5s;
    cursor: pointer; }

@media screen and (max-width: 700px) {
  .sidebar__nav-buttons {
    font-size: 4rem; } }

.sidebar__login-button {
  border: solid 1px green;
  border-radius: 0;
  padding: .6rem 1rem;
  height: 4rem;
  width: 11rem;
  cursor: pointer;
  outline: none; }
  .sidebar__login-button:active {
    transform: scale(0.9);
    transition: all .4s; }
  .sidebar__login-button:hover {
    background: #00241e;
    background: linear-gradient(90deg, rgba(0, 36, 30, 0.7) 5%, #097909 30%);
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .sidebar__login-buttonhover::after {
    transform: scale(1.2); }

.feed {
  order: 2;
  padding-right: 4%;
  padding-top: 3%;
  flex-wrap: wrap;
  float: left; }
  .feed__hr {
    display: flex;
    width: 100%;
    color: grey;
    margin-bottom: 1rem; }

.news {
  flex-wrap: wrap;
  order: 1;
  padding-left: 5rem;
  padding-top: 3rem;
  flex-wrap: wrap;
  float: left; }
  .news__heading {
    font-size: 5rem;
    width: 90%;
    line-height: 7rem; }
    .news__heading:hover {
      color: grey;
      transition: all .4s; }
    .news__heading--image {
      width: 70%; }
  @media screen and (max-width: 700px) {
    .news__heading {
      font-size: 3.5rem;
      line-height: 3rem; } }

figcaption {
  padding-top: .2rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 200; }

.sidebar {
  display: flex;
  flex-direction: column;
  order: 0; }
  .sidebar__image {
    width: 6.5rem;
    height: 4rem;
    margin: 3rem 3rem 2rem 2rem; }
  .sidebar__login-button {
    margin: 2rem;
    font-family: heading-font-2;
    color: green;
    font-size: 1.5rem; }

@media screen and (max-width: 700px) {
  .sidebar {
    justify-content: center;
    margin: 0 auto;
    text-align: center; } }

@media screen and (max-width: 700px) {
  .sidebar__login-button {
    margin: 0 auto;
    text-align: center;
    margin-left: 22%;
    width: 13rem;
    font-size: 3rem; } }

@media screen and (max-width: 700px) {
  .sidebar__image {
    margin: 0 auto;
    text-align: center;
    margin-left: 5%;
    width: 15rem;
    height: 10rem;
    margin-top: 3rem;
    margin-bottom: 4rem; } }
