.news {
    flex-wrap: wrap;
    order: 1;
    padding-left: 5rem;
    padding-top: 3rem;
    flex-wrap: wrap;
    float: left;
    
    
    &__heading {
        font-size: 5rem;
        width: 90%;
        line-height: 7rem;

        

        &:hover {
            color: grey;
            transition: all .4s;
        }

        &--image {
            width: 70%;
        }

        
          
    }
    @media screen and (max-width: 700px) {
        &__heading {
          font-size: 3.5rem;
          line-height: 3rem;
        } 
    }
    
}

figcaption {
    padding-top: .2rem;
    padding-bottom: 1.2rem;
    font-size: 2rem;
    font-weight: 200;
}