.sidebar {
  display:flex;
  flex-direction: column;
  order: 0;

  &__image {
    width: 6.5rem;
    height: 4rem;
    margin: 3rem 3rem 2rem 2rem;
  }

  &__login-button {
    margin:2rem;
    font-family: heading-font-2;
    color: green;
    font-size: 1.5rem;
  }

}



@media screen and (max-width: 700px) {
  .sidebar {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
  } 
}

@media screen and (max-width: 700px) {
  .sidebar__login-button {
    margin: 0 auto;
    text-align: center;
    margin-left: 22%;
    width: 13rem;
    font-size: 3rem;
    
  } 
}

@media screen and (max-width: 700px) {
  .sidebar__image {
    margin: 0 auto;
    text-align: center;
    margin-left: 5%;
    width: 15rem;
    height: 10rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    
  } 
}